#errorMsg {
	display: none;
}

li {
	list-style: none;
}
h1 {
	text-align: center;
}

.jumbotron {
	background-color: #edd09e;
}

.form-inline {
	margin-top:  30px;
}
body {
	background-color: #d5d9e0;
}
.btn {
	background-color: #656668;
	font-weight: bold;
	color: white;
}

